body > section,
body > header,
body > footer {
	padding: 1rem 10%;
}

body > section > *,
body > header  > *,
body > footer  > * {
	margin: 0 auto;
}

.group:after {
	content: '';
	display: table;
	clear: both;
}

.group {
	width: calc(100% + 6rem);
}

.group > * {
	float: left;
}

.group.container {
	width: 100%;
	overflow: hidden;
}

.group.container > * {
	margin-bottom: -100rem;
}

.group.container > *:after {
	display: block;
	height: 100rem;
	content: ' ';
}

/*
 * Featurettes
 */
.group.featurette > * {
	width: calc(50% - 6rem);
	margin-left: 6rem;
}

.group.featurette > :nth-child(2n+1) {
	margin-left: 0;
	clear: left;
}

.group.container.featurette > * {
	width: calc(50% - 6rem);
	padding: 3rem;
}


/*
 * Brochure
 */
.group.brochure > * {
	width: calc(33.3334% - 6rem);
	margin-left: 6rem;
}

.group.brochure > :nth-child(3n+1) {
	margin-left: 0;
	clear: left;
}

.group.container.brochure > * {
	width: calc(33.3334% - 6rem);
	padding: 3rem;
}


/*
 * Catalogues
 */
.group.catalogue > * {
	width: calc(25% - 6rem);
	margin-left: 6rem;
}

.group.catalogue > :nth-child(4n+1) {
	margin-left: 0;
	clear: left;
}

.group.container.catalogue > * {
	width: calc(25% - 6rem);
	padding: 3rem;
}
