/*------------------------------------------------------------------------------------------------
 | Headings
 *-----------------------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	line-height: 1.25em;
	font-weight: bold;
}

h1, h2, h3 {
	color: #444;
}

h1 {
	font-size: 3em;
	margin-top: 0;
	margin-bottom: .333em;
}

h2,
 section > h1,
.section > h1 {
	font-size: 2.75em;
	margin-top: .091em;
	margin-bottom: .364em;
}

h3,
 section >  section > h1,
.section > .section > h1 {
	font-size: 2.25em;
	margin-top: .365em;
	margin-bottom: .447em;
}

h4,
 section >  section >  section > h1,
.section > .section > .section > h1 {
	font-size: 1.75em;
	margin-top: .666em;
	margin-bottom: .630em;
}

h5,
 section >  section >  section >  section > h1,
.section > .section > .section > .section > h1  {
	font-size: 1.50em;
	margin-top: 1em;
	margin-bottom: .674em;
}

h6,
 section >  section >  section >  section >  section > h1,
.section > .section > .section > .section > .section > h1 {
	font-size: 1.25em;
	margin-top: 1.4em;
	margin-bottom: .815em;
}

/*------------------------------------------------------------------------------------------------
 | Extended Headings
 *-----------------------------------------------------------------------------------------------*/

 hgroup > h1:first-child,
 hgroup > h2:first-child,
 hgroup > h3:first-child,
 hgroup > h4:first-child,
 hgroup > h5:first-child,
 hgroup > h6:first-child,
.hgroup > h1:first-child,
.hgroup > h2:first-child,
.hgroup > h3:first-child,
.hgroup > h4:first-child,
.hgroup > h5:first-child,
.hgroup > h6:first-child {
 	margin-bottom: 0;
 }

 hgroup h1 + h2,
 hgroup h2 + h3,
 hgroup h3 + h4,
 hgroup h4 + h5,
 hgroup h5 + h6,
.hgroup h1 + h2,
.hgroup h2 + h3,
.hgroup h3 + h4,
.hgroup h4 + h5,
.hgroup h5 + h6 {
	margin-top: 0;
}

.group > li >  h1:first-child,
.group > li >  h2:first-child,
.group > li >  h3:first-child,
.group > li >  h4:first-child,
.group > li >  h5:first-child,
.group > li >  h6:first-child,
.group > li >  section > h1:first-child,
.group > li >  section > h2:first-child,
.group > li >  section > h3:first-child,
.group > li >  section > h4:first-child,
.group > li >  section > h5:first-child,
.group > li >  section > h6:first-child,
.group > li > .section > h1:first-child,
.group > li > .section > h2:first-child,
.group > li > .section > h3:first-child,
.group > li > .section > h4:first-child,
.group > li > .section > h5:first-child,
.group > li > .section > h6:first-child {
	margin-top: 0;
}

.container > h1 + .group > * > h2:first-child,
.container > h2 + .group > * > h3:first-child,
.container > h3 + .group > * > h4:first-child,
.container > h4 + .group > * > h5:first-child,
.container > h5 + .group > * > h6:first-child,
.container > h1 + .group > * > section > h2:first-child,
.container > h2 + .group > * > section > h3:first-child,
.container > h3 + .group > * > section > h4:first-child,
.container > h4 + .group > * > section > h5:first-child,
.container > h5 + .group > * > section > h6:first-child,
.container > h1 + .group > * > section > h1:first-child {
	margin-top: 0;
}