/*------------------------------------------------------------------------------------------------
 | Tables
 *-----------------------------------------------------------------------------------------------*/

table {
	width: 100%;
	margin-bottom: 3%;
}

th {
	font-weight: bold;
	border: solid 1px #222;
}

th,
td {
	vertical-align: top;
	padding: .5em;
	border: dotted 1px #222;
	text-align: left;
}

th {
	border: solid 1px #888;
}

tfoot td {
	border: none;
}